/* @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;800;900&display=swap");
.seymour {
  font-family: "Orbitron", sans-serif;
} */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ffa891;
  border: #ff6b45 solid 1px;
  background-clip: content-box;
}

.sticky {
  background-color: white;
  border-bottom: 1px solid black;
}
.sticky .sticky-text {
  color: black;
}
.sticky .cart {
  color: #ffffff;
}

.sticky .logo {
  color: #ffa891;
}
.sticky .menu-icon {
  background-color: black;
}

.bg-home {
  background-image: url(../assets/20200313-1467-lr.jpg);
}
.discover-bg {
  background-image: url(../assets/taisiia-shestopal-hqp_8ViHl4E-unsplash.png);
}
